#head{

}
.navabar__list{
    list-style: none;
    display: flex;  
    font-size:  1.8rem;
    padding-left: 0;
    background-color: var(--white-color);
    height: 40px;
    margin: 0; 
    align-items: center;
    justify-items: center;
}
.navbar__item{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;   
}
.navbar__item:nth-child(1){
    height: 100%;
    width: 60px;
    background-color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__item:hover{
    cursor: pointer;
    background-color: var(--hover-color);
    justify-content: center;
}
.navbar__item_right{
    margin: 0 auto;
    margin-right: 0;
}
.far.fa-moon{
    color: var(--white-color);
}
.portfolio{
    height: 770px;
    width: 100%;
    background-image: url(../image/hotel.jpg);
    background-repeat: no-repeat;  
    display: flex;
    align-items: center; 
    padding-left: 15px;
}
.search{
    height: 320px;
    width: 690px;
    background-color: var(--white-color);
}
.search__title{
    background-color: var(--title-color);
    height: 66px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 3.2rem;
    font-weight: 500;
    padding-left: 10px;
    gap: 15px;
}
.search__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 0 16px;
}
.search__content-field{
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 0 10px;
}
.search__content-field input{
    height: 40px;
    width: 100%;
}
.search__content-field label{
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 5px;
}
.search__button-search{
    height: 38px;
    width: 190px;
    margin: 25px 16px;
    font-size: 1.5rem;
    font-weight: 250;
    border: none;
    color: var(--white-color);
    background-color: #616161;
    cursor: pointer;
}
.search__button-search:hover{
    background-color: var(--hover-color);
    color: #000;
}
#room{
    padding-top: 30px;
    margin: 0px 16px;
    width: 100%;
    height: 800px; 
}

#room .head_room{
    width: 1164.8px;
    height: 16px;
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
   
}
#room .room_slogan {
    font-size: 17px;
    margin: 30px 0 25px;
}
#room .search_from-item {    
    font-size: 14px;
    display: inline-block;
}
#room input[type="text"] {
    width: 300px;
    height: 40px;
}
#room .check_number {
    width: 170px;

}
#room .checkin {   
    margin-left: 0;
    height: 40px;   
}
#room .search_from_bnt_search{
    width: 220px;
    height: 40px; 
    background-color: #000; 
    color: white;
}
#room .search_from_bnt_search:hover{
    background-color: var(--hover-color) ;
    cursor: pointer;
    color: black ;
}
#room .search_from-list{
    display: flex;
    justify-content: space-around;
}
#room .room_type {
    margin-top: 10px;
    padding-top: 15px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    
  }
  
  #room .room_type-item {   
    width: 30%; 
  }
  
  #room .room__type-item-img {
    width: 100%;
    max-width: 100%;
  }
  
  #room .room_detail{
      margin: 18px;
      
  }
  #room .room__type-item-header{
      font-size: 20px;
      margin: 18px;
  }
#room .room__type-item-cost{
    font-size: 15px;
    margin: 18px;
}
#room .room__type-item-discription{
    font-size: 15px;
    margin: 18px;
}
#room .room__type-item-area{
    font-size: 15px;
    margin: 18px;
}
#room .room__type-item-utility{
    margin: 18px;
}
#room .room__type-item-btn{
   
    height: 40px;
    width: 376.26px;
}
#room .room__type-item-btn-choose{
    height: 40px;
    width: 376.26px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#room .room__type-item-btn-choose:hover{
    background-color: silver;
    color: black    
   
}
#about {
   
}
#about .about-content{
    width: 450px;
    height: 460;
    font-size: 16px;
    margin: 17px 0 25px;
    display: inline-block;

}
#about .dipcription{
    margin-top: 25px;    
    font-weight: 100;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: justify;
}
#about .about__picture-map {
    margin-top: 25px; 
    margin-left: 60px;
   width: 850px;

}
#about .image{
    display: inline-block;
}
.icon {
     color: red;    
}
#about .infor {
    display: inline-block;
    font-size: 17px;   
    justify-content: space-around;
    padding: 20px 130px;
    
}
#about .about-infor{
    display: inline-block;
}
#about .about-footer{
    width: 100%;
    height: 120px;
    background-color: var(--title-color);
    font-size: 20px;
    color: var(--white-color);
    
}
#about .text-footer {
    padding-top: 50px;    
}
#introduce{
}
#introduce .header-title {
    margin: 35px 0;
    font-size: 20px;   
}
#introduce .header{
    font-size: 17px;
    margin: 0 0 25px;
}

#introduce .large-pic{ 
    flex: 2;  
}
#introduce .small_pics_center{    
    flex: 1;
}
#introduce .small_pics_right{    
    flex: 1;
}
#introduce .bunch-pics {
    display: flex;
    width: 100%; 
}
.set-text{
    position: relative;
}
.hotel__img-caption{
    position: absolute;
    font-size: 16px;
    left: 17px;
    bottom: 12px;
    color: var(--white-color);
}
.bunch-pics img{
width: 100%;
max-width: 100%;
}
#introduce .introduce-footer{
    width: 100%;
    height: 300px;
    background-color: #000;
    margin-top: 40px;
    color: var(--white-color);
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    opacity: 0.4;
}
#introduce .introduce-footer:hover{
    opacity: 1;
}
.bnt_foot{
    width: 100px;
    height: 40px;
    background-color: var(--title-color);
    color: var(--white-color);
}
.bnt_foot:hover{
    background-color: var(--hover-color);
    color: #000;
    cursor: pointer;
}
.foot-text{
    font-size: 16px;
    margin-left: 25px;
}
.title{
    font-size: 22px;
    margin-left: 25px;
}

input[type = "email"]{
    width: 95%;
    height: 35px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#contact{
    margin-top: 0px;
}
#contact .contact-head{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
}
#contact .icon{
    margin-top: 10px;
}
#contact .contact-imput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 10px;  
}
input[type="text"]{
    height: 50px;
    width: 95%;
}
#contact .room__type-item-btn-choose{
    width: 150px;    
    height: 50px;
}
#contact .footer-page{
    margin-top: 20px;
    width: 98%;
    height: 220px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}
.set-center{
    margin: auto;
}
#contact .room__type-item-btn-choose:hover{
    background-color: silver;
    color: black  
}
@media (max-width: 767px) {
    
    .navabar__list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 0;
        
    }
    .navbar__item{
        background-color: var(--white-color);
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;      
    }
    .navbar__item:nth-child(1){
        width: 100%;
        height: 40px;
    }
    .navbar__item_right{
        background-color: var(--background-color);
    }
    .search{
        height: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 10px;
    }
    .search .search__content{
        display: block;
        height: auto;
        width: auto;
    }
    .search__content .search__content-field{
        width: auto;
        margin: 20px 0;    
    }
    .search__content-input{
        height: 40px;
    }
    .search__button-search{
        width: 90%;
    }
    .search_from-list{
        height: 500px;
        display: flex;
        flex-flow: column wrap;
        margin-right: 10px;
    }
    .search_from-list input{
        display: block;
        height: auto;
        width: 98%;
        padding: 15px;
    }
    #room .search_from_bnt_search{
        width: 98%;
    }
    #room .room_type{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    #room .room_type-item{
        width: 95%;
        /* margin-right: 20px; */
    }
    #room .room__type-item-btn{
        width: 100%;
    }
    #room button.room__type-item-btn-choose{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-right: 10px;
    }
    #about .image{
        width: 100%
    }
    #about .about__picture-map{
        margin: 0 10px;
        width: 90%;
        align-items: center;
    }
    #introduce .introduce-footer{
        width: 95%;
        margin-right: 20px;
    }
   #introduce form .for-responsive{
    width: 90%;
   }
   #introduce form .bnt_foot{
       width: 90%;
   }
   #contact form .contact-imput{
       width: 98%;
   }

   #contact button.room__type-item-btn-choose{
       width: 90%;
   }

}
